<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="AdminKit">


	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="../public/img/icons/icon-48x48.png" />

	<title>更改密碼|農務物聯網智慧系統</title>

	
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	<script src="/node_modules/jquery/dist/jquery.js"></script>
	<link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<script src="/node_modules/bootstrap/dist/js/bootstrap.esm.js"></script>
	<link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
	<link href="/app.css" rel="stylesheet">
</head>

<body>
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<div class="text-center mt-4">
										<h1 class="h2">農務物聯網智慧系統</h1>
										<p class="lead">請輸入新密碼以進行更改</p>
									</div>
									<form action="/reset_password" method="post">
										<div>
											<p id="email_check" class="<%=success%>" role="alert"><%=message%></p>
										</div>
										<div class="mb-3">
											<input class="form-control form-control-lg" id="token" type="hidden" name="token" value="<%=token%>"/>
										</div>
										<div class="mb-3">
											<label class="form-label">新密碼</label>
											<input class="form-control form-control-lg" id="new_password" type="password" name="new_password" placeholder="password" />
											<small>請輸入3~16字元之間</small>
										</div>
										<div class="mb-3">
											<label class="form-label">確認密碼</label>
											<input class="form-control form-control-lg" id="check_password" type="password" name="check_password" placeholder="new password" />
											<small>請與密碼輸入相同</small>
										</div>
										<div class="text-center mt-3">											
											<button type="submit" class="btn btn-lg btn-primary" id="login_submit">確定</button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>
	<script>
		//是否顯示密碼內容
		$(()=>{
			$('#password-show').on('click',()=>{
				var x=$('#password').attr('type')
				if(x==='password'){
					$('#password').attr('type','text');
					$('#ppassword-show').removeClass('bi-eye-fill')
					$('#password-show').addClass('bi-eye-slash-fill')
				}else{
					$('#password').attr('type','password');
					$('#password-show').removeClass('bi-eye-slash-fill')
					$('#password-show').addClass('bi-eye-fill')
				}
			})
		})
	</script>
	<script src="/test.js"></script>
</body>

</html>